<footer class="footer">
              <div class="content has-text-centered">
                <p>
                  <strong>Tempus Werx</strong> by <a href="https://github.com/Jorgelopez5252" target="blank">Jorge A. Lopez</a> , <a href="https://github.com/UlyssesFigueroa" target="blank">Ulysses Figueroa</a>, <a href="https://github.com/JLara97" target="blank">Jacob Lara</a>, <a href="https://github.com/RebelCommand78" target="blank">Martin Stovall</a>. The source code is licensed
                  <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                  is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                </p>

              </div>


