<div class="content">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item logo" href="/">
        <img src="/assets/images/Logo2.png" width="175" height="100px">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">        
{{!-- pricing link is here --}}
        <a href="/pricing" class="navbar-item is-size-5">
          Pricing
        </a>
        <a href="/contact" class="navbar-item is-size-5">
          Contact Us
        </a>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="/signin" class="button is-primary is-size-6">
                <strong>Log in</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
  </nav>
