<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Bulma!</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="./../public/assets/css/contact.css">
</head>

<body>
  <div class="content">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item logo" href="/">
          <img src="/assets/images/Logo2.png" width="175" height="100px">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-size-5">
            Features
          </a>

          <a class="navbar-item is-size-5">
            Pricing
          </a>
          <a class="navbar-item is-size-5">
            Contact Us
          </a>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a href="/signin" class="button is-primary is-size-6">
                  <strong>Log in</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
    </nav>

  

    <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Tempus Werx</strong> by <a href="https://github.com/Jorgelopez5252" target="blank">Jorge A. Lopez</a> , <a href="https://github.com/UlyssesFigueroa" target="blank">Ulysses Figueroa</a>, <a href="https://github.com/JLara97" target="blank">Jacob Lara</a>, <a href="https://github.com/RebelCommand78" target="blank">Martin Stovall</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
          </p>
        </div>
      </footer>
</body>

</html>