<section class="hero is-dark is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
                Dont be a stranger
            </h1>
            <h2 class="subtitle">
                just say hello!
            </h2>
          </div>
        </div>
      </section>

    <section class="sectionContact">
    <div class="container is-fluid">
<p id="pText">You're not going to hit a ridiculously long phone menu when you call us. Your email isn't going to the inbox abyss, never to be seen or heard from again. At <strong>Tempus Werx</strong>, we provide the exceptional service we'd want to experience ourselves!</p>
    </div>
<br>

<!-- ////////////////////////////////////////////////////// -->
<!-- this is where the contact us page starts -->
<!-- ///////////////////////////////////////////////////// -->
      <div class="container is-fluid">
        <h1 class="title">
          Contact Us!
        </h1>
        <hr>
        <h3 class="subtitle">
          Lets' do something amazing together!
        </h3>
        <br>
        <div class="columns">
          <div class="column">
            <input class="input is-rounded" type="text" placeholder=" Your Name">
          </div>
          <div class="column">
            <input class="input is-rounded" type="text" placeholder="Your Email">
          </div>
          <div class="column">
            <input class="input is-rounded" type="text" placeholder="Your Phone/Cell Number">
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <input class="input is-rounded" type="text" placeholder="Subject of your Message">
          </div>
        </div>
        
        <div class="columns">
          <div class="column">
            <textarea class="textarea" placeholder="Your Message"></textarea>
          </div>
        </div>
        <button class="button is-primary">Send</button>
      </div>
    </section>