<div class="columns is-multiline is-centered">
    <div class="column">
        <div class="columns is-multiline is-centered">
            <div class="column is-11">
                <div id="table_div"></div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>
<script src="/assets/js/employee.js"></script>