<div class="columns is-mobile is-centered">
                <div class="column is-half">
                  <p class="bd-notification is-centered">
                        
                    <code class="html"><h1 class="titleFeature is-1">Let Tempus works do the Werx.</h1></code><br>
                  </p>
                </div>
              </div>

        <div class="columns">
            <div class="column">
                <figure class="image is-480x480">
                    <img src="https://bulma.io/images/placeholders/480x480.png">
                </figure>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="titleFeature">
                            Reporting
                        </p>
                        <p class="subtitleFeature">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta soluta provident harum labore
                            inventore magnam ab, doloremque eveniet quidem! Omnis aperiam est commodi laudantium atque,
                            corrupti sed amet laboriosam minus.
                        </p>
                    </div>

                </div>
            </div>

        </div>

        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="titleFeature">
                            Hour Tracking
                        </p>
                        <p class="subtitleFeature">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio cupiditate, recusandae
                            fugit eos quibusdam, sit tenetur sapiente quo modi et id assumenda quia harum aut adipisci
                            ipsa possimus incidunt necessitatibus?
                        </p>
                    </div>

                </div>
            </div>
            <div class="column">
                <figure class="image is-480x480">
                    <img src="https://bulma.io/images/placeholders/480x480.png">
                </figure>
            </div>

        </div>

        <div class="columns">
            <div class="column">
                <figure class="image is-480x480">
                    <img src="https://bulma.io/images/placeholders/480x480.png">
                </figure>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="titleFeature">
                            <h1>Workforce Management</h1>
                        </p>
                        <p class="subtitleFeature">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem odit, perspiciatis numquam
                            exercitationem culpa illo labore mollitia, fugit excepturi illum perferendis iste! Animi,
                            nihil? Ut exercitationem tempore architecto minima eaque.
                        </p>
                    </div>

                </div>
            </div>

        </div>