<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Features</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="./../public/assets/css/Features.css">
</head>

<body>
    <div class="content">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item logo" href="/">
                    <img src="/assets/images/Logo2.png" width="175" height="100px">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item is-size-5">
                        Features
                    </a>

                    <a class="navbar-item is-size-5">
                        Pricing
                    </a>
                    <a class="navbar-item is-size-5">
                        Contact Us
                    </a>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a href="/signin" class="button is-primary is-size-6">
                                    <strong>Log in</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        </nav>

        


</body>

</html>