<div class="columns is-multiline is-centered">
  <div class="column is-6">
    <div id="chart_div"></div>

  </div>
  <div class="column is-6">
    <div id="piechart_3d"></div>

  </div>
  <div class="column is-10">
    <div id="curve_chart"></div>
  </div>
</div>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="assets/js/dashboard.js"></script>