<div class="columns is-multiline is-centered">
    <div class="column">
        <div class="columns is-multiline is-centered">
            <div class="column is-11">
                <div id="tableHours_div"></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/assets/js/empHours.js"></script>