<section class="hero is-primary is-large">
  <div class="hero-body landing">
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-6 landingHeader">
          <h1 class="title is-1">
            Employee Management Software
          </h1>
          <br>
          <h2 class="subtitle is-2">
            Your hard work just got easier
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="columns">
    <div class="column is-4">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://img.business.com/rc/300x200/aHR0cHM6Ly93d3cuYnVzaW5lc3MuY29tL2ltYWdlcy9jb250ZW50LzVjYS8zY2E0ZjVhMjE1ZThhNDU4YjQ1NzYvMC04MDAt" alt="reporting image">
          </figure>
        </div>
        <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="titleFeature">
                            <h1>Reporting</h1>
                        </p>
                        <p class="subtitleFeature">
                            Lets you organize and summarize data into a meaningful report format without changing the data set. Offers a quick and easy way to analyze information that might otherwise require specialized knowledge of functions and other features.
                        </p>
                    </div>

                </div>
            </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bobintheusa.com/wp-content/uploads/2014/09/photodune-9911512-calculating-employee-working-time-m.jpg" alt="Hours image">
          </figure>
        </div>
        <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="titleFeature">
                            <h1>Hour Tracking</h1>
                        </p>
                        <p class="subtitleFeature">
                            Allows you to easily track your time and earnings for each employee, whether they're an hourly employee, a contractor, or you just want to better manage your working hours.
                        </p>
                    </div>

                </div>
            </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://wlhconsulting.com/wp-content/uploads/2018/11/wlh-cs-_0017_shutterstock_210347026-480x480.png" alt="workforce image">
          </figure>
        </div>
        <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="titleFeature">
                            <h1>Workforce Management</h1>
                        </p>
                        <p class="subtitleFeature">
                            Our software is built specifically for you and your teams. Deliver quality care at lower cost. Raise employee engagement. Request a free demo today!
                        </p>
                    </div>

                </div>
            </div>
      </div>
    </div>
  </div>
</section>
</div>