<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pricing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="./../public/assets/css/pricing.css">
  </head>
  <body>
        <div class="content">
                <nav class="navbar" role="navigation" aria-label="main navigation">
                  <div class="navbar-brand">
                    <a class="navbar-item logo" href="/">
                      <img src="/assets/images/Logo2.png" width="175" height="100px">
                    </a>
              
                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                      data-target="navbarBasicExample">
                      <span aria-hidden="true"></span>
                      <span aria-hidden="true"></span>
                      <span aria-hidden="true"></span>
                    </a>
                  </div>
                  <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-end">
                      <a class="navbar-item is-size-5">
                        Features
                      </a>
              
                      <a class="navbar-item is-size-5">
                        Pricing
                      </a>
                      <a class="navbar-item is-size-5">
                        Contact Us
                      </a>
                      <div class="navbar-end">
                        <div class="navbar-item">
                          <div class="buttons">
                            <a href="/signin" class="button is-primary is-size-6">
                              <strong>Log in</strong>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                </nav>

                <section class="hero is-primary">
                    <div class="hero-body">
                      <div class="container">
                        <h1 class="title">
                            Pricing
                        </h1>
                        <h2 class="subtitle">
                            Flexible plans for a Flexible Business
                        </h2>
                      </div>
                    </div>
                  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">
          Choose from one of our may plans which fit the everday needs of your vision of <strong>Business!</strong>!
      </h1>
    </div>
    <br>

    <!-- this is where the pricing plans bellow start -->
    <div class="columns">
            <div class="column">
                    <div class="pricing-plan">
                            <div class="plan-header">Starter</div>
                            <div class="plan-items">
                              <div class="plan-item">20GB Storage</div>
                              <div class="plan-item">100 Domains</div>
                              <div class="plan-item">-</div>
                              <div class="plan-item">-</div>
                            </div>
                            <div class="plan-footer">
                              <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>20</span>/month</div>
                              <button class="button is-fullwidth" disabled="disabled">Current plan</button>
                            </div>
                          </div>
            </div>
            <div class="column">
                    <div class="pricing-plan is-warning">
                            <div class="plan-header">Startups</div>
                            <div class="plan-items">
                              <div class="plan-item">20GB Storage</div>
                              <div class="plan-item">25 Domains</div>
                              <div class="plan-item">1TB Bandwidth</div>
                              <div class="plan-item">-</div>
                            </div>
                            <div class="plan-footer">
                              <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>40</span>/month</div>
                              <button class="button is-fullwidth">Choose</button>
                            </div>
                          </div>
            </div>
            <div class="column">
                    <div class="pricing-plan is-active">
                            <div class="plan-header">Growing Team</div>
                            <div class="plan-items">
                              <div class="plan-item">200GB Storage</div>
                              <div class="plan-item">50 Domains</div>
                              <div class="plan-item">1TB Bandwidth</div>
                              <div class="plan-item">100 Email Boxes</div>
                            </div>
                            <div class="plan-footer">
                              <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>60</span>/month</div>
                              <button class="button is-fullwidth">Choose</button>
                            </div>
                          </div>
            </div>
            <div class="column">
                    <div class="pricing-plan is-danger">
                            <div class="plan-header">Enterprise</div>
                            <div class="plan-items">
                              <div class="plan-item">2TB Storage</div>
                              <div class="plan-item">100 Domains</div>
                              <div class="plan-item">1TB Bandwidth</div>
                              <div class="plan-item">1000 Email Boxes</div>
                            </div>
                            <div class="plan-footer">
                              <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>100</span>/month</div>
                              <button class="button is-fullwidth">Choose</button>
                            </div>
                          </div>
            </div>
          </div>
          <footer class="footer">
              <div class="content has-text-centered">
                <p>
                  <strong>Tempus Werx</strong> by <a href="https://github.com/Jorgelopez5252" target="blank">Jorge A. Lopez</a> , <a href="https://github.com/UlyssesFigueroa" target="blank">Ulysses Figueroa</a>, <a href="https://github.com/JLara97" target="blank">Jacob Lara</a>, <a href="https://github.com/RebelCommand78" target="blank">Martin Stovall</a>. The source code is licensed
                  <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                  is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                </p>
              </div>
            </footer>
        </body>