/* .section{
background-color: rgb(236, 236, 236);   
}

.pricing-table{ 
    display: flex
  align-items: stretch
  flex-direction: row
  flex-flow: row wrap
  justify-content: space-between
}

.pricing-plan{
    outline-style: solid; 
    margin: 25px 50px 60px 100px;
    border-style: round;
    border-radius: initial;
    margin: 0
}

.plan-header{
color: black;
outline-style: solid; 
}

.plan-items{
    color: black;
}

.plan-footer{
    
}

.plan-price{
    
} */