/* Blue - #033040
Yellow - #b88128 */

html,
body {
  height: 100%;
  color: #033040;
}

.deleteCol {
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  /* background-color: red !important; */
}
.content {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.landing {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 20%,
      rgb(3, 48, 64, 0.7) 100%
    ),
    url("/assets/images/landingImg2.jpg");
}

.hero.is-primary .title,
.hero.is-primary .subtitle,
.hero-body {
  text-align: center;
  color: white;
}

.button.is-primary {
  background-color: #033040;
}

.navbar-item {
  color: #033040;
}

.tabs ul {
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100px;
  height: 100vh;
}

.box {
  /* background-color: #161E65; */
  height: 100vh;
  padding: 0.25em;
  border-radius: 0;
}

.columns {
  margin: 0;
}

.column {
  padding-left: 0;
}

.sidebar {
  font-size: 20px;
  color: #033040;
  vertical-align: middle;
}

.is-vertical-center {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.level {
  background-color: #033040;
}

.title,
.subtitle {
  color: white;
  margin-bottom: 0;
}

h1.title {
  margin-bottom: 0;
}

.dropdown-trigger > .button {
  background-color: #2364c0;
  border: none;
}

.icon {
  color: white;
}
.sidebar-icon {
  color: #033040#033040;
}

.sidebarNav {
  color: #033040;
  text-decoration: none;
}

#adminBtn {
  color: white;
  background-color: #033040;
}

.companyName {
  text-align: center;
  font-size: 30px;
}

.pageName {
  color: white;
  padding-left: 15px;
  font-size: 30px;
}

#appHeader {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}

td {
  font-size: 22px;
}

.sideNav:hover {
  background-color: lightblue;
}

.fa-user-circle {
  background-color: #033040;
  color: white;
  font-size: 40px;
}

.svg-inline--fa.fa-fw {
  width: 2em;
}

a.logo {
  padding: 0.25rem 0.25rem;
}

.navbar-item img {
  max-height: 3rem;
}

form {
  margin-top: 0;
}

form > div.columns > div.column {
  padding: 5px 20px;
}

.headerRow {
  background-color: #033040;
}

.headerCell {
  color: white;
  font-size: 18px;
  text-align: center;
}

table {
  border: 2px solid #033040;
}


/* ///////pricing stlyes//////// */

/* .section{
  background-color: rgb(236, 236, 236);   
  } */
  
.pricing-table {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
}

.pricing-plan {
  outline-style: solid;
  margin: 25px 50px 60px 100px;
  border-style: round;
  border-radius: initial;
  margin: 0;
  text-align: center;
}

.plan-header {
  color: black;
  outline-style: solid;
}

.plan-items {
  color: black;
  background-color: #eaece5;
  border: solid white 5px;
  padding: 5px;
  font-family: "Work Sans", sans-serif;
}

.plan-items {
  color: black;
  background-color: #eaece5;
  border: solid white 5px;
  padding: 5px;
}

#starter {
  font-size: 45px;
}

#startups {
  color: #80ced6;
  font-size: 45px;
}

#startupsButton {
  background-color: #80ced6;
}

#growing {
  color: #f18973;
  font-size: 45px;
}

#growingButton {
  background-color: #f18973;
}

#enterprise {
  color: #4040a1;
  font-size: 45px;
}

#enterpriseButton {
  background-color: #4040a1;
  color: white;
}

.title {
  font-family: "Quicksand", sans-serif;
}

/* /////contact styles//// */
.sectionContact {
  background-color: white;
}

/* ////features styles//// */
.image {
  border: solid 5px #b88128;
  margin: auto;
}

#pText {
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
}

@media (min-width: 1200px) {
  .content {
    max-width: 1200px;
    align-content: center;
  }
}

@media (min-width: 1408px) {
  .content {
    max-width: 1408px;
    align-content: center;
  }
}

@media screen and (min-width: 769px) {
  .hero.is-large .hero-body {
    padding-bottom: 20rem;
    padding-top: 6rem;
  }
}
